<head>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<div class="center">

    <section id="content">

        <h1 class="subhearder">Registro</h1>

        <form class="mid-form" #registroForm="ngForm" (ngSubmit)="registrarse()">

            <div class="form-group">

                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" #nombre="ngModel" [(ngModel)]="user.nombre" required>

                <small *ngIf="!nombre.valid && nombre.required">
                    Campo obligatorio
                </small>

            </div>

            <div class="form-group">

                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" id="apellido" #apellido="ngModel" [(ngModel)]="user.apellido" required>

                <small *ngIf="!apellido.valid && apellido.touched">
                    Campo obligatorio
                </small>
                
            </div>

            <div class="form-group">

                <label for="username">Nombre de usuario</label>
                <input type="text" name="username" id="username" #username="ngModel" [(ngModel)]="user.username" required>

                <small *ngIf="!username.valid && username.touched">
                    Campo obligatorio
                </small>
                
            </div>
            
            <div class="form-group">

                <label for="email">Correo electronico</label>
                <input type="email" name="email" id="email" #email="ngModel" [(ngModel)]="user.email"required>

                <small *ngIf="!email.valid && email.touched">
                    Campo obligatorio
                </small>
                
            </div>

            <div class="form-group">

                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" #password="ngModel" [(ngModel)]="user.password" required>

                <small *ngIf="!password.valid && password.touched">
                    Campo obligatorio
                </small>
                
            </div>

            <div class="form-group">

                <label for="repit_password">Repetir contraseña</label>
                <input type="password" name="repit_password" id="repit_password" #repit_password="ngModel" [(ngModel)]="user.repit_password" required>

                <small *ngIf="!repit_password.valid && repit_password.touched">
                    Campo obligatorio
                </small>
                
            </div>

            <div class="form-group radiobuttons">

                <input type="radio" name="edad" value="-16" #edad="ngModel" [(ngModel)]="user.edad"> menor a 16
                <input type="radio" name="edad" value="+16" #edad="ngModel" [(ngModel)]="user.edad"> mayor a 16

                <small *ngIf="!nombre.valid && nombre.touched">
                    Campo obligatorio
                </small>

            </div>

            <input type="submit" value="Registrarse" class="btn" [disabled]="registroForm.invalid" >

        </form>
    </section>
</div>


